<!DOCTYPE html>

<!--<html lang="en">-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>customer_form</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!--google font-->
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/69e5f61610.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="style.css">
</head>
<body>

<!--//////FORM//////////////////FORM////////////////FORM////////////////////////-->
<div class="container">
    <nav id="mainNavbar" class="navbar navbar-dark navbar-expand-md py-0 fixed-top  align-items-start">
        <div class="col-2">
        </div>
        <div class="col-7">
            <div class="container col-md-12 nav-part d-flex justify-content-center align-items-center">
                <div class="oscar-part">
                    <a href="" class="nav-link"><i class="fas fa-home" style="color: maroon"></i>HOME
                    </a>
                    <button class="navbar-toggler" data-toggle="collapse" data-target="#navLinks"
                            aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>

                <div class="collapse navbar-collapse" id="navLinks">
                    <div class="col-md-12 navbar-nav d-flex justify-content-around">
                        <div class="nav-item">
                            <a href="" class="nav-link" style="color: indianred">ADD PET </a>
                        </div>

                        <div class="nav-item">
                            <a th:href="@{/showdogs}" class="nav-link">DOGS </a>
                        </div>
                        <div class="nav-item">
                            <a th:href="@{/showcats}" class="nav-link">CATS </a>
                        </div>
                        <div class="nav-item">
                            <a th:href="@{/showall}" class="nav-link">ALL PETS </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3">
<!--            ABOUT US-->
        </div>
    </nav>
</div>

<!--first jumbotron-->

<div class="jumbotron-fluid">
    <div class="row">
        <!--    first column section-->
        <div class="col-2 ">
            <br/><br/><br/>
            <div class="d-flex flex-column align-items-center">
                <div class="row oscar-title">

                    <i class="fas fa-paw fa-4x"></i>
                    <h2><span style="font-size: 3rem">
                            O</span>SCAR'S
                    </h2>
                </div>

                <div><h5 class="oscar-title d-none d-lg-block">Petcare is essential.</h5></div>

                <div><h5 class="oscar-title d-none d-lg-block">That's why we're here.</h5></div>

                <div><h5 class="oscar-title d-none d-lg-block">That's why we're open.</h5></div>
            </div>
            <br/>
        </div>

        <!--    second column section-->
        <div class="col-7 ">
            <br/>
            <br/>
            <br/>
            <br/>
        </div>
    </div>

    <!--    third column section-->
    <div class="col-3  "></div>
</div>


<!--second jumbotron including section-->
<div class="row">
    <!--    first column section-->
    <div class="col-2">
        <div class="row fill">
            <div class="col-sm-12">
                <div class="box d-flex align-items-stretch justify-content-center">
                    <img src="dog.jpg" alt="dog"/>
                </div>
            </div>
        </div>
    </div>

    <!--    second column section-->
    <div class="col-7 ">

        <div class="jumbotron-fluid d-flex justify-content-center">
            <form action="#" th:action="@{/petform}" th:object="${customer}" method="post">

                <div class="card" style="width: 30rem;">
                    <!--                    <img class="card-img-top" src="..." alt="Card image cap">-->
                    <div class="card-body" style="color: maroon; text-align: center">
                        <h5 class="card-title">Customer Registration Form</h5>
                        <p class="card-text">We strive for excellence. You are in the right place for your pet. Thank
                            you for believing in us.</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item col-md-12">
                            <h6>
                                <small class="text-muted" style="text-align: left">Customer Name:</small>
                            </h6>
                            <div class="col-md-10 offset-md-2">
                                <input type="text" th:field="*{customerName}" style="width: 100%"/>
                            </div>
                        </li>

                        <li class="list-group-item">
                            <h6>
                                <small class="text-muted" style="text-align: left">Phone Number: </small>
                            </h6>
                            <div class="col-md-10 offset-md-2">
                                <input type="text" th:field="*{phoneNumber}" style="width: 100%"/>
                            </div>
                        </li>

                        <li class="list-group-item">
                            <h6><small class="text-muted" style="text-align: left">Pet Type: </small></h6>
                            <div class="col-md-10 offset-md-2">
                                <div class="form-check form-check-inline">
                                    <input th:field="*{petType}" class="form-check-input" type="radio" name="inlineRadioOptions"
                                           id="inlineRadio1" value='dog'/>
                                    <label class="form-check-label text-muted" for="inlineRadio1"><h6><small>Dog</small>
                                    </h6></label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input th:field="*{petType}" class="form-check-input" type="radio" name="inlineRadioOptions"
                                           id="inlineRadio2" value='cat'/>
                                    <label class="form-check-label text-muted" for="inlineRadio2"><h6><small>Cat</small>
                                    </h6></label>
                                </div>
                            </div>
                        </li>

                        <li class="list-group-item">
                            <div class="col-md-12 justify-content-center offset-4">
                                <input id="add-button" class="pet-button-maroon" type="submit" value="ADD"
                                       style="width:30%"/>
                            </div>
                        </li>
                    </ul>

                    <div class="card-body">
                    </div>
                </div>

            </form>
        </div>

    </div>

    <!--    third column section-->
    <div class="col-3  ">
        <div class="col-sm-12">
            <div class="box d-flex align-items-stretch justify-content-center">
                <img class="customer-right" src="cat2.jpg" alt="cat"/>
            </div>
        </div>
    </div>
</div>
<div class="jumbotron-fluid">
    <div class="bottom-line">

    </div>
    <div class="container oscar-bottom-title">
        <div class="row justify-content-around">
            <div class="col-sm-3 ">
                <h5>OUR LOCATION</h5>
                <p>We are located in Maryland
                    xxxx Scenery Road
                Gaithersburg, MD xxxxx-xxxx</p>

                <h5>CONTACT US</h5>
                <p>Phone: xxx-xxx-xxxx
                Email: petclinic@company.com</p>
            </div>
            <div class="col-sm-3">
                <h5>SERVICES</h5>
                <P>We offer a wide range of services including medical, diagnostic, surgical,
                    wellness and preventive health care needs for your pets so they live healthy, happy lives.</P>
            </div>
            <div class="col-sm-3">
                <h5>WORKING HOURS</h5>
                <p>
                    Monday: 8:00 AM - 7:00 PM <br/>
                    Monday: 8:00 AM – 7:00 PM <br/>
                    Tuesday: 8:00 AM – 5:00 PM <br/>
                    Wednesday: 8:00 AM – 7:00 PM <br/>
                    Thursday: 8:00 AM – 7:00 PM <br/>
                    Friday: 8:00 AM – 7:00 PM <br/>
                    Saturday: 8:00 AM – 12:00 PM <br/>
                </p>

            </div>
            <div class="col-sm-3">
                <h5>PET INSURANCE</h5>
                <p>Get an instant discount of upto 10% on pet insurance.Pet insurance works like medical, auto, or home insurance, protecting you from financial loss when your cat or dog is sick or injured.</p>
            </div>

        </div>
    </div>

</div>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<script>
    $(function() {
        $(document).scroll(function() {
            var $nav = $("#mainNavbar");
            $nav.toggleClass("scrolled", $(this).scrollTop() > $nav.height());
        })
    })
</script>
</body>
</html>